/* -------------------------------- 

File#: _1_btns
Title: Buttons (Group)
Descr: Group of connected buttons
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --btns-button-radius: var(--radius-md);
  --btns-button-padding-x: var(--space-xs);
  --btns-button-padding-y: var(--space-xxs);
}

.btns { /* button group */
  > *:first-child, *:first-child .btns__btn {
    border-radius: var(--btns-button-radius) 0 0 var(--btns-button-radius);
  }

  > *:last-child, *:last-child .btns__btn {
    border-radius: 0 var(--btns-button-radius) var(--btns-button-radius) 0;
  }
}

/* single button */
.btns__btn {
  @include reset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: var(--btns-button-padding-y) var(--btns-button-padding-x);
  background-color: alpha(var(--color-contrast-higher), 0.1);
  transition: .2s;
  cursor: pointer;
  @include fontSmooth;

  &:hover:not(.btns__btn--selected) {
    background-color: var(--color-contrast-lower);
  }

  &:focus {
    z-index: 1;
    outline: none;
    box-shadow: 0 0 0 2px alpha(var(--color-contrast-higher), 0.2);
  }
}

.btns__btn--selected { /* selected style */
  background-color: var(--color-primary);
  color: var(--color-bg);
  box-shadow: var(--shadow-sm);
}

.btns__btn--disabled {
  opacity: 0.7;
  cursor: not-allowed;
  text-decoration: line-through;
}

.btns__btn--icon {
  padding: var(--btns-button-padding-y);

  .icon {
    display: block;
  }
}
